<section>
  <div class="container">
    <div class="content-container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center header-container">
            <h1>App Gallery</h1>
            </br>
            <h4>See here some examples of what our developers and partners have created using our APIs.</h4>
          </div>
        </div>
      </div>
    </div>
    </br>
    <div class="content-container">
      <div class="row">
        <div class="col-md-7">
          <h3>AAR -- ATM via Augmented Reality</h3>
          <p>There is nothing more user friendly than using augmented reality to find your closest ATM.</p>
          <a href="#">www.aar.io</a>
        </div>
        <div class="col-md-5">
          <img src="/images/1_ATM-via-AR.jpg">
        </div>
      </div>
    </div>
  </div>
  </br>
  <div class="container">
    <div class="content-container">
      <div class="row">
        <div class="col-md-4">
          <img class="img-sm" src="/images/2_pass-by-and-buy.png">
        </div>
        <div class="col-md-8">
          <h3>Pass by and buy</h3>
          <p>Imagine you always wanted this specific pair of expensive boots but you never found them on sale?</p>
          <p>Well, with Pass by and buy this is now possible and super easy, too.
            You just walk down the street and whenever your phone picks up any of the products you are interested in on sale in a shop that you just passed, you get a notification.
            You can also buy directly using the app.</p>
          <a href="#">www.passby.io</a>
        </div>
      </div>
    </div>
  </div>
</section>
