  <div class="container">
      <div class="row">
        <div class="text-center">
        
          <h1>Getting started using our APIs</h1>
        	<img src="/images/GettingStarted-01.png" alt="" width="90%">	
            
        	
        	    
        		<a class="btn btn-success" href="">Check our developer guide</a>
              
     
        <h1>Interactive documentation</h1>

<p>Use our interactive documentation to experience our Open Banking API</p>
      </div>
    </div>
</div>
<div class="container">
{% include 'oauth_widget' %}
</div>
{% cdn_asset /swagger-ui/2.2.10/swagger-ui.js %}
        
{% cdn_asset /swagger-ui/2.2.10/swagger-ui.css %}
       
{% if current_user %}
	{% include 'shared/swagger_ui', spec_system_name: "Account-Transactions-UK" %}
	{% include 'keycloak_client' %}
{% else %}
	{% include 'shared/swagger_ui', spec_system_name: "open-apis-uk" %}
{% endif %}
        




<script type="text/javascript">
  (function () {
    {% comment %}
      // you have access to swaggerUi.options object to customize its behaviour
      // such as setting a different docExpansion mode
      window.swaggerUi.options['docExpansion'] = 'none';
      // or even getting the swagger specification loaded from a different url
      window.swaggerUi.options['url'] = "http://petstore.swagger.wordnik.com/api/api-docs";
    // window.swaggerUi.initOAuth({
    // clientId: "1f77eb80",
    // clientSecret: "10c22c264afae00962cbcba6865cc4b4",
    // appName: "AISP-app",
    // scopeSeparator: " ",
  //});
    {% endcomment %}
    window.swaggerUi.load();
    
  }());
</script>

{% include 'keycloak_client' %}
