<div class="card mb-3">
      <div class="card-header">
        New Application
      </div>
      <div class="card-body">
        {% form 'application.create', application, class: "form-horizontal" %}
          {% include 'applications/form' %}
            <div class="form-group">
              <div class="col-md-10">
                <input class="btn btn-success"
                                 name="commit"
                                 type="submit"
                                 value="Create Application" />
              </div>
            </div>
        {% endform %}
      </div>
</div>