{% include 'users_menu' %}
  <div class="card mb-3">
      <div class="card-header">
        <a href="{{ urls.invitations }}">
          <i class="fas fa-chevron-left"></i>
          Cancel
        </a>
        New invitation
      </div>
      <div class="card-body">
        {% form 'invitation.create', invitation, class: "form-horizontal" %}
        <div class="col-md-6">
            <div class="form-group">
              <label for="invitation_email">
                Send invitation to
              </label>
                <input id="invitation_email" maxlength="255"
                     name="invitation[email]"
                     type="email"
                     value="{{ invitation.email }}"
                     class="{{ invitation.errors.email | error_class }} form-control"/>
                    {{ invitation.errors.email | inline_errors }}
                <p class="help-block">
                  Email address of a colleague or friend you want to invite to use this account.
                </p>
              </div>
            </div>
          <div class="form-group">
            <div class="col-md-6">
              <input name="commit" class="btn btn-success" type="submit" value="Invite User">
            </div>
          </div>
        {% endform %}
      </div>
      </div>
  </div>