<div class="container">
  <div class="card card-register mx-auto mt-5">
        <div class="card-header">
          <i class="fas fa-user"></i>
          Invitation signup
        </div>
        <div class="card-body">

          {% include 'login/sso' %}

          {% form 'invitation_signup', user, { class: 'form-horizontal' } %}


              {% for field in user.fields %}
                {% include 'field' with field %}
              {% endfor %}

              {% if user.password_required? %}
                <div class="form-group {{ user.errors.password_confirmation | error_class: 'has-error' }} {{ user.errors.password | error_class: 'has-error' }}">
                <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group" id="user_password_input">
                    <input id="user_password" name="user[password]"
                           type="password" placeholder="Password" class="form-control">
                    {{ user.errors.password | inline_errors: 'inline-errors' }}
                    <label for="user_password">Password</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-label-group" id="user_password_confirmation_input">
                  <input id="user_password_confirmation" name="user[password_confirmation]"
                          type="password" placeholder="Password Confirmation" class="form-control">
                    {{ user.errors.password_confirmation | inline_errors: 'inline-errors' }}
                  <label for="user_password_confirmation">
                    Password confirmation
                  </label>
                  </div>
                </div>
                </div>
                </div>
              {% endif %}


            {% include 'signup_licence' %}

            
                  <input name="commit" type="submit" value="Sign up" class="btn btn-primary btn-block">
                
          {% endform %}
        </div>
  </div>
</div>