---
apiVersion: capabilities.3scale.net/v1beta1
kind: Backend
metadata:
  name: backend-uk-bca-13
  namespace: "{{ obsandbox_3scale_namespace }}"
  labels:
    api: uk-bca-13
spec:
  name: Business Current Account Backend
  systemName: backend_uk_bca_13
  description: >-
    UK Open Data Business Current Account v1.3 backend referring to Mock endpoint provided
    by Microcks on the 2d0b cluster.
  providerAccountRef:
    name: "{{ obsandbox_3scale_tenant_provider_account_ref }}"
  privateBaseURL: >-
    {{ _mock_base_url }}/uk-business-current-account-data-collection/1