---
apiVersion: capabilities.3scale.net/v1beta1
kind: Product
metadata:
  name: product-uk-ccc-13
  namespace: "{{ obsandbox_3scale_namespace }}"
  labels:
    api: uk-ccc-13
spec:
  name: Commercial Credit Card API
  providerAccountRef:
    name: "{{ obsandbox_3scale_tenant_provider_account_ref }}"
  systemName: product_uk_ccc_13
  description: UK Open Data Commercial Credit Card v1.3 API
  deployment:
    apicastHosted:
      authentication:
        userkey:
          authUserKey: User-Key
          credentials: headers
  backendUsages:
    backend_uk_ccc_13:
      path: /
  applicationPlans:
    freetier:
      name: "Free Tier"
      appsRequireApproval: false
      limits:
        - period: minute
          value: 60
          metricMethodRef:
            systemName: hits
  methods:
    get_ccc:
      friendlyName: Get Commercial Credit Cards
    head_ccc:
      friendlyName: Head Commercial Credit Cards
  mappingRules:
    - httpMethod: GET
      increment: 1
      metricMethodRef: get_ccc
      pattern: /commercial-credit-cards
    - httpMethod: HEAD
      increment: 1
      metricMethodRef: head_ccc
      pattern: /commercial-credit-cards
