---
apiVersion: capabilities.3scale.net/v1beta1
kind: Product
metadata:
  name: product-uk-smel-13
  namespace: "{{ obsandbox_namespace }}"
  labels:
    api: uk-smel-13
spec:
  name: SME Loan API
  providerAccountRef:
    name: "{{ obsandbox_3scale_tenant_provider_account_ref }}"
  systemName: product_uk_smel_13
  description: UK Open Data Unsecured SME Loan v1.3 API
  deployment:
    apicastHosted:
      authentication:
        userkey:
          authUserKey: User-Key
          credentials: headers
  backendUsages:
    backend_uk_smel_13:
      path: /
  applicationPlans:
    freetier:
      name: "Free Tier"
      appsRequireApproval: false
      limits:
        - period: minute
          value: 60
          metricMethodRef:
            systemName: hits
  methods:
    get_smel:
      friendlyName: Get Unsecured SME Loans
    head_smel:
      friendlyName: Head Unsedured SME Loans
  mappingRules:
    - httpMethod: GET
      increment: 1
      metricMethodRef: get_smel
      pattern: /unsecured-sme-loans
    - httpMethod: HEAD
      increment: 1
      metricMethodRef: head_smel
      pattern: /unsecured-sme-loans
